@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-cn" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh-cn" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cn">
<!--<![endif]-->

<head>
    <title>ASP.NET Core最佳落地实践</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ASP.NET Core最佳落地实践">
    <meta name="author" content="https://github.com/dotnetlive">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <environment names="Development">
        <link rel="stylesheet" href="//static.dotnet.live/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="//static.dotnet.live/assets/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" asp-fallback-href="//static.dotnet.live/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous" />
        <link rel="stylesheet" href="//static.dotnet.live/assets/css/style.css" asp-append-version="true" />
    </environment>
    <!--<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="assets/css/style.css" asp-append-version="true" />-->
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="//static.dotnet.live/assets/css/headers/header-v8.css" asp-append-version="true" />
    <link rel="stylesheet" href="//static.dotnet.live/assets/css/footers/footer-v8.css" asp-append-version="true" />

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="//static.dotnet.live/assets/plugins/animate.css" asp-append-version="true" />
    <link rel="stylesheet" href="//static.dotnet.live/assets/plugins/line-icons/line-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="//static.dotnet.live/lib/font-awesome/css/font-awesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="//static.dotnet.live/assets/plugins/login-signup-modal-window/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="//static.dotnet.live/assets/plugins/parallax-slider/css/parallax-slider.css" asp-append-version="true" />
    <link rel="stylesheet" href="//static.dotnet.live/assets/plugins/fancybox/source/jquery.fancybox.css" asp-append-version="true" />
    <link rel="stylesheet" href="//static.dotnet.live/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css" asp-append-version="true" />
    <!-- CSS Page Level -->
    @RenderSection("Styles", required: false)
    <!-- CSS Theme -->
    <link rel="stylesheet" href="//static.dotnet.live/assets/css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="//static.dotnet.live/assets/css/theme-skins/dark.css" asp-append-version="true" />

    <!-- CSS Customization -->
    <link rel="stylesheet" href="//static.dotnet.live/assets/css/custom.css" asp-append-version="true" /> @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body class="header-fixed header-fixed-space-v2">
    <div class="wrapper">
        <!--=== Header v8 ===-->
        @await Html.PartialAsync("_Header")
        <!--=== End Header v8 ===-->
        <!-- Interactive Slider v2 -->
        @RenderSection("Slider", required: false)
        <!-- End Interactive Slider v2 -->
        <!--=== Content Part ===-->
        @RenderBody()
        <!-- End Content Part -->
        <!--=== Footer v8 ===-->
        @await Html.PartialAsync("_Footer")
        <!--=== End Footer v8 ===-->
    </div>
    <!--/wrapper-->
    <!--=== Style Switcher ===-->
    <i class="style-switcher-btn fa fa-cogs hidden-xs"></i>
    <div class="style-switcher animated fadeInRight">
        <div class="style-swticher-header">
            <div class="style-switcher-heading">Style Switcher</div>
            <div class="theme-close"><i class="icon-close"></i></div>
        </div>

        <div class="style-swticher-body">
            <!-- Theme Colors -->
            <div class="style-switcher-heading">Theme Colors</div>
            <ul class="list-unstyled">
                <li class="theme-default theme-active" data-style="default" data-header="light"></li>
                <li class="theme-blue" data-style="blue" data-header="light"></li>
                <li class="theme-orange" data-style="orange" data-header="light"></li>
                <li class="theme-red" data-style="red" data-header="light"></li>
                <li class="theme-light" data-style="light" data-header="light"></li>
                <li class="theme-purple last" data-style="purple" data-header="light"></li>
                <li class="theme-aqua" data-style="aqua" data-header="light"></li>
                <li class="theme-brown" data-style="brown" data-header="light"></li>
                <li class="theme-dark-blue" data-style="dark-blue" data-header="light"></li>
                <li class="theme-light-green" data-style="light-green" data-header="light"></li>
                <li class="theme-dark-red" data-style="dark-red" data-header="light"></li>
                <li class="theme-teal last" data-style="teal" data-header="light"></li>
            </ul>

            <!-- Theme Skins -->
            <!--<div class="style-switcher-heading">Theme Skins</div>
            <div class="row no-col-space margin-bottom-20 skins-section">
                <div class="col-xs-6">
                    <button data-skins="default" class="btn-u btn-u-xs btn-u-dark btn-block active-switcher-btn handle-skins-btn">Light</button>
                </div>
                <div class="col-xs-6">
                    <button data-skins="dark" class="btn-u btn-u-xs btn-u-dark btn-block skins-btn">Dark</button>
                </div>
            </div>

            <hr>-->

            <!-- Layout Styles -->
            <!--<div class="style-switcher-heading">Layout Styles</div>
            <div class="row no-col-space margin-bottom-20">
                <div class="col-xs-6">
                    <a href="javascript:void(0);" class="btn-u btn-u-xs btn-u-dark btn-block active-switcher-btn wide-layout-btn">Wide</a>
                </div>
                <div class="col-xs-6">
                    <a href="javascript:void(0);" class="btn-u btn-u-xs btn-u-dark btn-block boxed-layout-btn">Boxed</a>
                </div>
            </div>

            <hr>-->

            <!-- Theme Type -->
            <!--<div class="style-switcher-heading">Theme Types and Versions</div>
            <div class="row no-col-space margin-bottom-10">
                <div class="col-xs-6">
                    <a href="E-Commerce/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">Shop UI <small class="dp-block">Template</small></a>
                </div>
                <div class="col-xs-6">
                    <a href="One-Pages/Classic/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">One Page <small class="dp-block">Template</small></a>
                </div>
            </div>

            <div class="row no-col-space">
                <div class="col-xs-6">
                    <a href="Blog-Magazine/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">Blog <small class="dp-block">Template</small></a>
                </div>
                <div class="col-xs-6">
                    <a href="RTL/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">RTL <small class="dp-block">Version</small></a>
                </div>
            </div>-->
        </div>
    </div>
    <!--/style-switcher-->
    <!--=== End Style Switcher ===-->
    <!-- JS Global Compulsory -->
    <environment names="Development">
        <script src="//static.dotnet.live/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="//static.dotnet.live/lib/jquery-migrate/jquery-migrate.js" asp-append-version="true"></script>
        <script src="//static.dotnet.live/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js" asp-fallback-src="//static.dotnet.live/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="//cdn.bootcss.com/jquery-migrate/3.0.0/jquery-migrate.min.js" asp-fallback-src="//static.dotnet.live/lib/jquery-migrate/jquery-migrate.js" asp-fallback-test="jQuery.migrateVersion"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" asp-fallback-src="//static.dotnet.live/lib/bootstrap/dist/js/bootstrap.min.js"
                crossorigin="anonymous">
        </script>
    </environment>
    <!--<script type="text/javascript" src="/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/lib/jquery-migrate/jquery-migrate.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>-->
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="//static.dotnet.live/assets/plugins/back-to-top.js" asp-append-version="true"></script>
    <script type="text/javascript" src="//static.dotnet.live/assets/plugins/smoothScroll.js" asp-append-version="true"></script>
    <script type="text/javascript" src="//static.dotnet.live/assets/plugins/modernizr.js" asp-append-version="true"></script>
    <script type="text/javascript" src="//static.dotnet.live/assets/plugins/login-signup-modal-window/js/main.js" asp-append-version="true"></script>
    <!-- Gem jQuery -->
    <script type="text/javascript" src="//static.dotnet.live/assets/plugins/jquery.parallax.js" asp-append-version="true"></script>
    <script type="text/javascript" src="//static.dotnet.live/assets/plugins/fancybox/source/jquery.fancybox.pack.js" asp-append-version="true"></script>
    <script type="text/javascript" src="//static.dotnet.live/lib/owl-carousel-v1/owl-carousel/owl.carousel.min.js" asp-append-version="true"></script>
    <!-- JS Customization --
    <script type="text/javascript" src="asets/js/custom.js" asp-append-version="true"></script>
    <!-- JS Page Level -->
    @RenderSection("Scripts", required: false)

    <!--[if lt IE 9]>
    <script src="//static.dotnet.live/assets/plugins/respond.js" asp-append-version="true"></script>
    <script src="//static.dotnet.live/assets/plugins/html5shiv.js" asp-append-version="true"></script>
    <script src="//static.dotnet.live/assets/plugins/placeholder-IE-fixes.js" asp-append-version="true"></script>
    <![endif]-->
</body>

</html>